body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('LofiGirl2.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#quote{
    position: absolute;
    top: 50%;
    left: 50%;
    width:auto;
    transform: translate(-50%,-50%);  
    background-color: rgba(11, 255, 214, 0.47); 
    border-radius: 9px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: white;
    font-family: 'Quicksand', sans-serif;

}
#time{
    position: absolute;
    top: 60%;
    left: 50%;

    transform: translate(-50%,-50%);  
    background-color: rgba(255, 190, 11, 0.7); 
    opacity: 1;
    border-radius: 9px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: rgba(46, 46, 46, 0.582);
    font-family: 'Quicksand', sans-serif;
    font-size: 2.1vw;
}
#lofibutton{
    background: transparent;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 3px;
}
img{
    width: 50px;
}
#fullscreen{
    background: transparent;
    outline: none;
    border: none;
    color: yellow;
}
.controlwrapper button{
    background: transparent;
    outline: none;
    border: none;
    color: blue;
    text-decoration: none;
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
.controlwrapper button:active {
    transform: scale(0.88);
    
}
.controlwrapper{
    display: flex;
    justify-content: center ;
    width: 100%;
    height :85vh;
    align-items: flex-end;
}
.searchwrapper{
    display: flex;
    position: absolute;
    right: 0;
    top: 2%;
    opacity: .75;
}
input {
    outline: 0;
    border-width: 0 0 2px;
    background: transparent;
    border-color: rgb(202, 200, 81);
    font-family: 'Quicksand', sans-serif;
    color: white;
  }
  input:focus {
    border-color: rgba(202, 200, 81, 0.788);

  }
.searchButton{
    background:rgb(202, 200, 81);
    outline: none;
    border: none;
    border-radius: 5px;
}
